networkx>=3.2

pip~=24.0
zlib~=1.2.13
wheel~=0.43.0
brotli~=1.0.9
pysocks~=1.7.1
protobuf~=3.20.3
openssl~=3.0.14
pyopenssl~=24.0.0
cryptography~=42.0.5
pytest~=7.4.4
lxml~=5.2.1
tornado~=6.4.1
typing_extensions~=4.11.0
keyring~=24.3.1
pkginfo~=1.10.0
setuptools~=69.5.1
docutils~=0.18.1
matplotlib~=3.8.4
